header {
	height: 70px;
}


footer {
	color: white;
}

body {
	background-color: grey;
}

h1 {
    position: absolute;
	left: 50%;
	top: 0px;
	transform: translate(-50%, 0%);
	color: #FD6D0E;
	background-color: #888;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	padding: 0px 30px; /* marge interne */
	opacity: 70%; /* visibilité de l'élément */
}

nav {
	background-color: #888;
	padding: 0px 30px; /* marge interne */
    position: fixed; /* position qui ne bouge pas lorsque l'on navigue sur la page */
    border-bottom-right-radius: 60px;
	padding-left: 10px; /* marge interne à gauche */
	height: 50px;
}

nav a {
    text-decoration: none;
	background: #999;
	color: white;
	padding: 10px 20px; /* marge interne */
	margin: 0px 10px; /* marge externe */
	border-radius: 30px;
}

nav a:hover {
    background-color: #777;
}