h1, h2, p, date {
	color: #FD6D0E;
}

body {
	background: linear-gradient(90deg,#000000,#2a2a2a);
	margin-top: 0;
	font-size: 18px;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: 70px;

}
    @media screen and (max-width: 768px) {

     nav a {
        float: none;
        display: grid;
        text-align: left;
        }


nav {
	background-color: #444;
	padding: 0px 0px; /* marge interne */
    position: fixed;  /* position qui ne bouge pas lorsque l'on navigue sur la page */
    border-bottom-right-radius: 60px; /* marge interne à gauche */
	height: 60px;
	grid-column: 1/2;
}

nav a {
    text-decoration: none;
	background: #666;
	color: white;
	padding: 10px 20px; /* marge interne */
	margin: 0px 10px;   /* marge externe */
	border-radius: 30px;
}

nav a:hover {
    background-color: #555;
}


}


header a {
	text-decoration: none;
	background: #999;
	color: white;
	padding: 10px 20px; /* Marge interne */
	margin: 0px 10px; /* Marge externe */
	border-radius: 30px;
}

header a:hover {
	background-color: #777;
}

/* Médias requêtes pour la conception réactive */

@media screen and (max-width: 768px) {
	header {
		padding: 10px; /* Réduire le padding pour les appareils plus petits */
	}
}





h1 {
	display: flex;
	justify-content: center;
	color: #FD6D0E;
	padding: 5px 30px; /* marge interne */
}





footer {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    font-size: 18px;
}

address {
	background-color: #444;
	color: white;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding: 0px 30px;
	position: fixed;
	height: 30px;
	bottom: 0;
}