.payement {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 20px;
    background-color: grey;
    margin-top: 20px;
    color: white;
}

.item, .grid-banq-card {
    display: grid;
}


.item {
    grid-template-columns: repeat(2, 1fr);
}

.grid-banq-card {
    grid-template-columns: repeat(5, 1fr);
}

#client-banq-number1 {
    grid-column-start: 2;
}

.item button {
    width: 150px;
}

nav > button {
    width: 10%;
}

dialog {
    color: white;
    border-radius: 40px;
    border-color: black 5px;
    align-content: center;
    background-color: darkred;
    font: 50%;
}
dialog button {
    width: 100%;
    border-color: 3px black;
    border-radius: 20px;
    background-color: grey;
    color: white;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    font-size: 18px;
    background:#807a7a;
    padding: 5px 15px;
    bottom: 0;
    background-color: grey;
    position: absolute;
    border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

h2 {
    text-align: center;
}